<h2 class="form-title">{{ form.nome_formulario }}</h2>
{% csrf_token %}

{% for campo in form %}
<div class="form-group-1col">
  {{ campo.label_tag }}

  {% if campo.name == "modelo" %}
  {% if modelo_autocompletado %}
    <input type="text" name="modelo" id="modelo-input" value="{{ campo.value|stringformat:'s' }}" readonly>
  {% else %}
    {{ campo }}
  {% endif %}

  {% else %}
  {{ campo }}
  {% endif %}

  {% if campo.errors %}

  <div class="error">{{ campo.errors }}</div>
  {% endif %}
</div>
{% endfor %}

<div class="button-group">
  {% if exibir_consultar %}
  <button type="submit" name="buscar_dados" class="buscar-dados">Consultar</button>
  {% else %}
  <button type="submit" class="bipagem-button" onclick="sessionStorage.setItem('voltarParaSerial', 'true')"
    data-modelo-autocompletado="{{ modelo_autocompletado|yesno:" true,false" }}">Inserir</button>
  {% endif %}
  <button type="button" id="clear-button" class="bipagem-button-clear">Limpar</button>
</div>