{% load static %}

{% load static %}

<div class="navbar">

    <a href="{% url 'inventario:index' %}">
        <img class="nav-logo" src="{% static 'global/images/10 anos.png' %}" alt="Logo">
    </a>

    <div class="nav-links">
        <a href="{% url 'inventario:index' %}">Home</a>

        <div class="dropdown">
            <button class="dropbtn">Operações</button>
            <div class="dropdown-content">
                <h3>Getnet</h3>
                <div class="top-columns">
                    <div class="column">
                        <h4 class="column-toggle" data-target="bipagem" title="Use para encontrar itens.">
                            <i class="fa fa-search"></i><span> Bipagem</span>
                        </h4>
                        <div class="submenu" id="bipagem">
                            <a href="#">Cadastrar Item</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="column-toggle" data-target="acompanhamento" title="Use para encontrar itens.">
                            <i class="fa fa-search"></i><span> Acompanhamento</span>
                        </h4>
                        <div class="submenu" id="acompanhamento">
                            <a href="#">Acompanhar</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="column-toggle" data-target="resultados" title="Use para encontrar itens.">
                            <i class="fa fa-search"></i><span> Extração de Resultados</span>
                        </h4>
                        <div class="submenu" id="resultados">
                            <a href="#">Extração de Resultados</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="{% url 'inventario:logout_confirm' %}">Sair</a>
    </div>
</div>

<script src="{% static 'global/javascript/script.js' %}"></script>