{% extends 'global/base.html' %}

{% block content %}
<div class="form-container">
    <form method="post" class="form-1col">
        <h2 class="form-title">Editar Caixa #{{ caixa.nr_caixa }}</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <button type="submit" class="bipagem-button">Salvar Alterações</button>
            <a href="{% url 'inventario:lote' caixa.lote.id %}" class="bipagem-button-clear">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
