.form-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.form-1col {
    padding: 2rem;
    border-radius: 18px;
    box-shadow: 0 4px 24px #f29a9a33;
    width: 350px;
    border: 1.5px solid #ef9a9a;
    background: #fceaea;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #b74d4d;
    font-weight: bold;
}

.form-group-1col {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group-1col label {
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: #b74d4d;
}

.form-group-1col input,
.form-group-1col select,
.form-group-1col textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #e57373;
    font-size: 1rem;
    background-color: #fceaea;
    color: #b74d4d;
}

.submit-button {
    background: #d64d4d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
}

.submit-button:hover {
    background: #aa2d2d;
}
